@page "/employees"

<div class="login-container">
    <div class="login-logo">
        <!-- Upewnij się, że ścieżka do logo jest poprawna -->
        <img src="" alt="Logo" style="margin: auto; display: block;" />
    </div>
    <div class="login-form">
        <h1 class="welcome-message">Witaj!</h1>
        <p class="login-message">Zaloguj się do D.W.C</p>
       
    </div>
</div>
<div class="create-account-container">
    <button class="create-account-btn">
        <span class="btn-text">Stwórz konto</span>
    </button>
</div>
@code {

}
